/* All buttons */


Button {
    -fx-padding: 20;
    -fx-font-size: 16;
    -fx-text-fill: #333333;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}


Button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/* Top two buttons - use custom font */
#airportsBtn,
#seatReservationBtn {
    -fx-font-family: "Macondo";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}